.homeContainer {
  height: 100%;
}

.bgImage {
  /* The image used */
  background-image: url("../../resources/leaves-blurred.jpg");

  /* Half height */
  height: 45%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bgBottom {
  height: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

/* Position text in the middle of the page/image */
.presentationBox {
  background-color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 40%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bigName {
  color: #474747;
  font-weight: bolder;
  font-size: 24pt;
}

.bigPicture {
  height: 400px;
}

.linkBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: #414141;
}